$font-size: 1rem;
$line-height: 1.5;
$font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva,
  Verdana, sans-serif;
$font-family-mono: 'Lucida Console', Menlo, Monaco, monospace;
