$line-height: 1.6;
$font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva,
  'Gill Sans Nova', Verdana, Ubuntu, system-ui, sans-serif;
$font-family-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo,
  Consolas, 'DejaVu Sans Mono', monospace;
