:root {
  --background-color: #fff;
  --font-color: #333;
  --font-size: 1rem;
  --line-height: 1.5;
  --font-family-mono: Menlo, Courier, monospace;
  --purple: #7811ed;
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: #282a36;
    --purple: #cba6ff;
    --font-color: #f8f8f2;
  }
  a:hover {
    background-color: #44475a;
  }
}

body {
  margin: 0 1rem;
  padding: 0;
  color: var(--font-color);
  background-color: var(--background-color);
  font-size: var(--font-size);
  font-family: var(--font-family-mono);
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wrapper {
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: var(--purple);
  &:hover {
    color: white;
    background-color: var(--purple);
  }
}

#nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 1rem;
  nav a {
    text-align: right;
    margin-left: 1rem;
  }
}

main {
  padding: 1rem 0;
}

hr {
  background-color: var(--purple);
  height: 1px;
  border: none;
  padding: 0;
}

footer {
  padding: 1rem 0;
  pre {
    font-family: Courier, monospace;
    font-size: 0.8rem;
    line-height: 1;
  }
}

img {
  box-shadow: 4px 4px 0px 1px var(--purple);
}

blockquote {
  border-left: 3px solid var(--purple);
  padding-left: 20px;
}

.post-figure {
  margin: 40px;
  a {
    display: inline-block;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    &:hover {
      filter: brightness(1.2);
    }
  }
  figcaption,
  cite {
    display: inline;
    font-size: smaller;
  }
}
