@use 'colors';
@use 'fonts';

:root {
  --background-color: #{colors.$white};
  --font-color: #{colors.$dark-gray};
  --purple: #{colors.$purple};
}

body {
  margin: 0 1rem;
  padding: 0;
  color: var(--font-color);
  background-color: var(--background-color);
  font-size: fonts.$font-size;
  font-family: fonts.$font-family-mono;
  line-height: fonts.$line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wrapper {
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: var(--purple);
  &:hover {
    color: white;
    background-color: var(--purple);
  }
}

.font--bold {
  font-weight: bold;
}

#nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 1rem;
  nav a {
    text-align: right;
    margin-left: 1rem;
  }
}

main {
  padding: 1rem 0;
}

hr {
  background-color: var(--purple);
  height: 1px;
  border: none;
  padding: 0;
}

footer {
  padding: 1rem 0;
  pre {
    font-family: Courier, monospace;
    font-size: 0.8rem;
    line-height: 1;
  }
}

img:not(.img--plain) {
  box-shadow: 4px 4px 0px 1px var(--purple);
}

blockquote {
  border-left: 3px solid var(--purple);
  padding-left: 20px;
}

.post-figure {
  margin: 40px;
  a {
    display: inline-block;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    &:hover {
      filter: brightness(1.1);
      cursor: zoom-in;
    }
  }
  figcaption,
  cite {
    display: inline;
    font-size: smaller;
  }
}

pre[data-lang] {
  padding: 1rem;
  overflow: auto;
  border: 1px solid colors.$gray;
  &[data-linenos] {
    padding: 1rem 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    td {
      padding: 0;
      &:nth-of-type(1) {
        text-align: center;
        user-select: none;
      }
    }
  }
  mark {
    display: block;
    color: inherit;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: #{colors.$bluish-gray};
    --purple: #{colors.$light-purple};
    --font-color: #{colors.$light-gray};
  }
  a:hover {
    color: colors.$bluish-gray;
  }
}
