@use "colors";
@use "fonts";

:root {
  --primary-color: #{colors.$purple};
  --secondary-color: #fff;
  --background-color: #{colors.$off-white};
  --font-color: #{colors.$dark-gray};
  --code-color: #000;
  --code-background-color: #{colors.$light-gray};
}

body {
  font-size: 1.1rem;
  line-height: fonts.$line-height;
  font-family: fonts.$font-family;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  color: var(--font-color);
  background-color: var(--background-color);

  // Prevent iOS Safari from enlarging text in landscape mode.
  -webkit-text-size-adjust: 100%;
}


header {
  margin-top: 3rem;
}

nav {
  display: flex;
  flex-wrap: wrap;

  >a {
    margin-right: 1rem;
  }
}

main,
footer {
  padding: 1rem 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:not(:has(img)) {
    border-bottom: 1px dotted var(--primary-color);

    &:hover {
      color: var(--secondary-color);
      background: var(--primary-color);
    }
  }
}

.font--bold {
  font-weight: bold;
}

hr {
  height: 1px;
  border: 0;
  background: var(--primary-color);
}

.img--shadow {
  border: 1px solid var(--primary-color);
  box-shadow: 4px 4px 0 1px var(--primary-color);
}

blockquote {
  border-left: 3px solid var(--primary-color);
  padding: 10px 0 10px 20px;

  p {
    margin: 0;
  }
}

// Indented figures that collapse on smaller screens.
.indent-wrapper {
  display: flex;
  justify-content: center;

  .post-figure {
    flex: 1;
    max-width: 700px;
    margin: 25px 0;
  }
}

.post-figure {
  img {
    @extend .img--shadow;
    max-width: 100%;
    height: auto;

    &:hover {
      filter: brightness(1.1);
      cursor: zoom-in;
    }
  }

  figcaption,
  cite {
    display: inline-block;
    font-size: smaller;
  }
}

code {
  font-size: 0.9rem;
  font-family: fonts.$font-family-mono;
}

// Inline code.
code:not([data-lang]) {
  padding: 2px;
  color: var(--code-color);
  background: var(--code-background-color);
}

// Code blocks.
pre:has(code[data-lang]) {
  padding: 1rem;
  overflow: auto;
  font-size: 0.9rem;
  font-family: fonts.$font-family-mono;
}

.ascii-art {
  color: var(--primary-color);
  font-size: 0.8rem;
  line-height: 1;
}

.footnotes-list {
  font-style: italic;
}

.giallo-l {
  display: inline-block;
  min-height: 1lh;
  width: 100%;
}

.giallo-ln {
  display: inline-block;
  user-select: none;
  margin-right: 0.4em;
  min-width: 3ch;
  text-align: right;
  opacity: 0.8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #{colors.$light-purple};
    --secondary-color: #{colors.$bluish-gray};
    --background-color: #{colors.$bluish-gray};
    --font-color: #{colors.$light-gray};
    --code-color: #{colors.$light-gray};
    --code-background-color: #{colors.$gray};
  }
}