{% extends "index.html" %}
{% import "macros/post-list.html" as postList %}
{% block meta %}
  <meta name="description" content="Posts tagged as {{ term.name }}">
  <meta property="og:site_name" content="{{ config.extra.site_name }}">
  <meta property="og:locale" content="en-us">
  <meta property="og:url" content="{{ current_url }}">
  <meta property="og:title" content="Tag: {{ term.name }}">
  <meta property="og:description" content="Posts tagged as {{ term.name }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/apple-touch-icon.png">
{% endblock meta %}
{% block title %}
  Jesse Falzone - Posts Tagged as "{{ term.name }}"
{% endblock title %}
{% block links %}
  <link rel="canonical" href="{{ current_url }}">
{% endblock links %}
{% block rss %}
  {% set rss_path = "tags/" ~ term.name ~ "/atom.xml" %}
  <link rel="alternate"
        type="application/atom+xml"
        title="RSS feed for {{ term.name }}"
        href="{{ get_url(path=rss_path) }}">
{% endblock rss %}
{% block content %}
  <main id="content">
    <header>
      <h1>Posts Tagged as "{{ term.name }}"</h1>
      <p>
        <a href="/blog">All Posts</a>
        <span aria-hidden="true">/</span>
        <a href="/tags">All Tags</a>
        <span aria-hidden="true">/</span>
        <a href="{{ get_url(path=rss_path) }}">RSS feed for "{{ term.name }}"</a>
      </p>
    </header>
    {{ postList::meta(pages=term.pages) }}
  </main>
{% endblock content %}
