<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}Jesse Falzone - {{ section.title }}{% endblock title %}
    </title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    {% block links %}
    <link rel="canonical" href="{{ section.permalink }}" />
    {% endblock links %}
  </head>
  <body>
    <div id="wrapper">
      {% include "header.html" %}
      <hr />
      {% block content %}
      <main>{{ section.content | safe }}</main>
      {% endblock content %}
      <hr />
      {% include "footer.html" %}
    </div>
  </body>
</html>
