{% extends "section.html" %}

{% block title %}Jesse Falzone - {{ section.title}}{% endblock title %}

{% block content %}
<main id="content">
  <header>
    <h1>Blog</h1>
    {% set taxonomy = get_taxonomy(kind="tags") %}
    {% if taxonomy.items | length > 0 %}
    <p><a href="/tags">All tags</a></p>
    {% endif %}
  </header>
  {% if section.pages | length == 0 %}
  <p>There's nothing here yet.</p>
  {% endif %}
  {% for page in section.pages %}
  <h3><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
  <time datetime="{{ page.date }}">{{ page.date | date(format="%B %d, %Y") }}</time>
    {% if page.taxonomies.tags %}
    <span> · </span>
    {% for tag in page.taxonomies.tags %}
      <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
      {%- if page.taxonomies.tags | length > 1 and loop.index != page.taxonomies.tags | length -%}
        ,
      {% endif %}
    {% endfor %}
    {% endif %}
  {% endfor %}
</main>
{% endblock content %}
