<footer>
  <pre>
        ______________
       /             /|
      /             / |
     /____________ /  |
    | ___________ |   |
    ||           ||   |
    ||           ||   |
    ||           ||   |
    ||___________||   |
    |   _______   |  /
   /|  (_______)  | /
  ( |_____________|/
   \
.=======================.
| ::::::::::::::::  ::: |
| ::::::::::::::[]  ::: |
|   -----------     ::: |
`-----------------------'</pre
  >
  <small>© {{ now() | date(format="%Y") }}</small>
</footer>
