<footer>
  <pre>
        ______________
       /             /|
      /             / |
     /____________ /  |
    | ___________ |   |
    ||           ||   |
    ||           ||   |
    ||           ||   |
    ||___________||   |
    |   _______   |  /
   /|  (_______)  | /
  ( |_____________|/
   \
.=======================.
| ::::::::::::::::  ::: |
| ::::::::::::::[]  ::: |
|   -----------     ::: |
`-----------------------'
  </pre>
  <p>
    <a href="https://www.websitecarbon.com/website/jesse-cafe/">Check out this website's carbon footprint</a>
  </p>
  <p>© {{ now() | date(format="%Y") }}</p>
</footer>
