{% import "macros/recent-posts.html" as recentPosts %}
{% set section_or_page = section | default(value = page | default(value = config)) -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ config.author }}">
    <meta name="apple-mobile-web-app-title" content="jesse.cafe">
    <meta name="application-name" content="jesse.cafe">
    {% block meta %}
      <meta name="description" content="{{ section_or_page.description }}">
      <meta property="og:site_name" content="{{ config.extra.site_name }}">
      <meta property="og:locale" content="en-us">
      <meta property="og:url" content="{{ section_or_page.permalink }}">
      <meta property="og:title" content="{{ section_or_page.title }}">
      <meta property="og:description" content="{{ section_or_page.description }}">
      <meta property="og:image" content="/apple-touch-icon.png">
    {% endblock meta %}
    {% block metatype %}
      <meta property="og:type" content="website">
    {% endblock metatype %}
    <title>
      {%- block title -%}
        Jesse.cafe - {{ section_or_page.title }}
      {%- endblock title -%}
    </title>
    {% block rss %}
      <link rel="alternate"
            type="application/atom+xml"
            title="RSS feed for jesse.cafe"
            href="{{ get_url(path=config.feed_filename) | safe }}" />
    {% endblock rss %}
    <link rel="stylesheet" href="{{ get_url(path="/main.css", cachebust=true) }}" />
    <link rel="icon" href="/favicon.ico" sizes="48x48">
    <link rel="icon" href="/icon.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="me" href="https://indieweb.social/@hyperlink" />
    {% block links %}
      <link rel="canonical" href="{{ section_or_page.permalink }}" />
    {% endblock links %}
  </head>
  <body>
    <div id="wrapper">
      {% include "bits/header.html" %}
      <hr />
      {% block content %}
        <main>
          <img src="icon.svg" width="48" height="48" alt="A desktop icon.">
          {{ section.content | safe }}
          {% set section = get_section(path="blog/_index.md") %}
          {{ recentPosts::meta(pages=section.pages) }}
        </main>
      {% endblock content %}
      <hr />
      {% include "bits/footer.html" %}
    </div>
  </body>
</html>
