<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ config.extra.author }}">
    {% block meta %}
      <meta name="description" content="{{ section.description }}">
      <meta property="og:site_name" content="{{ config.extra.site_name }}">
      <meta property="og:locale" content="en-us">
      <meta property="og:url" content="{{ section.permalink }}">
      <meta property="og:title" content="{{ section.title }}">
      <meta property="og:description" content="{{ section.description }}">
      <meta property="og:type" content="profile">
      <meta property="og:image" content="/favicon.png">
    {% endblock meta %}
    <title>
      {% block title %}
        Jesse Falzone - {{ section.title }}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" href="/favicon.ico?v=1" sizes="48x48">
    <link rel="icon" href="/icon.svg?v=1" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png?v=1" />
    <link rel="manifest" href="/site.webmanifest?v=1" />
    <meta name="apple-mobile-web-app-title" content="jesse.cafe">
    <meta name="application-name" content="jesse.cafe">
    {% block links %}
      <link rel="canonical" href="{{ section.permalink }}" />
    {% endblock links %}
  </head>
  <body>
    <div id="wrapper">
      {% include "header.html" %}
      <hr />
      {% block content %}
        <main>
          {{ section.content | safe }}
        </main>
      {% endblock content %}
      <hr />
      {% include "footer.html" %}
    </div>
  </body>
</html>
