{% extends "index.html" %}
{% block meta %}
  <meta name="description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ config.extra.site_name }}">
  <meta property="og:locale" content="en-us">
  <meta property="og:url" content="{{ page.permalink }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:type" content="profile">
  {% if page.extra.image %}<meta property="og:image" content="{{ page.extra.image }}">{% endif %}
{% endblock meta %}
{% block title %}
  Jesse Falzone - {{ page.title }}
{% endblock title %}
{# Override base links to use page-specific ones. #}
{% block links %}
  <link rel="canonical" href="{{ page.permalink }}" />
{% endblock links %}
{# Override base content to use page-specific content. #}
{% block content %}
  <main>
    <header>
      <h1>{{ page.title }}</h1>
    </header>
    {{ page.content | safe }}
  </main>
{% endblock content %}
