{% extends "page.html" %}
{% import "macros/post-subheader.html" as subheader %}
{% import "macros/toc.html" as toc %}
{% import "macros/reply.html" as reply %}
{% block metatype %}
  <meta property="og:type" content="article">
{% endblock metatype %}
{% block content %}
  <main>
    <article id="content">
      <header>
        <h1>{{ page.title }}</h1>
        <div class="font--bold">{{ subheader::meta(page=page) }}</div>
      </header>
      {{ page.content | replace(from="<!-- toc -->", to=toc::toc(page=page) ) | safe
      }}
      <div aria-hidden="true">⁂</div>
      <br>
      {{ reply::meta(page=page) }}
    </article>
  </main>
{% endblock content %}
