{% extends "index.html" %}
{% block meta %}
  <meta name="description" content="{{ section.description }}">
  <meta property="og:site_name" content="{{ config.extra.site_name }}">
  <meta property="og:locale" content="en-us">
  <meta property="og:url" content="{{ section.permalink }}">
  <meta property="og:title" content="{{ section.title }}">
  <meta property="og:description" content="{{ section.description }}">
  <meta property="og:type" content="profile">
  <meta property="og:image" content="/favicon.png">
{% endblock meta %}
{% block title %}
  {{ section.title }}
{% endblock title %}
{# Override base links to use section-specific ones. #}
{% block links %}
  <link rel="canonical" href="{{ section.permalink }}">
{% endblock links %}
{# Override base content to use section-specific content. #}
{% block content %}
  <main>
    <header>
      <h1>{{ section.title }}</h1>
    </header>
    {{ section.content | safe }}
  </main>
{% endblock content %}
