<footer>
  <pre>
        ______________
       /             /|
      /             / |
     /____________ /  |
    | ___________ |   |
    ||           ||   |
    ||  ~~~~~    ||   |
    ||  ~~~      ||   |
    ||___________||   |
    |   _______   |  /
   /|  (_______)  | /
  ( |_____________|/
   \                           ( (
.=======================.       ) )
| ::::::::::::::::  ::: |     .......
| ::::::::::::::[]  ::: |     |     |D
|   -----------     ::: |     \_____/
`-----------------------'
  </pre>
  <p>
    © {{ now() | date(format="%Y") }} <a href="/license">License</a>
  </p>
</footer>
